<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Menú
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button class="custom-button" expand="full" color="primary" routerLink="/opcion1">
    Opción 1
  </ion-button>

  <ion-button class="custom-button" expand="full" color="primary" routerLink="/opcion2">
    Opción 2
  </ion-button>

  <ion-button class="custom-button" expand="full" color="primary" routerLink="/opcion3">
    Opción 3
  </ion-button>
</ion-content>