.custom-button {
    background-color: #00a2e8; /* Color celeste */
    color: #fff; /* Texto blanco */
    font-weight: bold;
    margin: 10px;
  }
  
  ion-content {
    --background: #f0f0f0; /* Color de fondo de la página */
  }
  